
body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
   
    background-color:rgb(88, 12, 150);
    border-radius: 30px;
    font-size: 30px;
    padding: 5px;
}

.hide {
    display: none;
}

.quiz-container {
    height: 300px;
    width: 80%;
    margin:30px auto;
    background: rgb(8, 238, 8);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}


